<!DOCTYPE html>
<html>
  <head>
    <meta chatset='utf-8'>
    <title>{{pageTitle}}</title>
  </head>
  <body>
    <h1>Be back soon!</h1>
    <p>Apologies, this site is currently under maintenance</p>
  </body>
</html>
